In [67]:
# Mounting Google Drive so Colab can access the dataset file.
from google.colab import drive
drive.mount("/content/drive")

# Importing libraries
import pandas as pd       # pandas is used for data handling
import numpy as np        #numpy is used for numerical operations

# Reading the dataset from Google Drive
# sep='\t' means the file is tab-separated, not comma-separated
df = pd.read_csv('/content/drive/MyDrive/Elivate_Labs_DA_Internship_tasks/Task1/marketing_campaign.csv', sep='\t')

# Displaying the few rows of the dataset to verify successful loading of the dataset file.
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [68]:
# Displaying the shape - number of rows and columns of the dataset
# df.shape returns a tuple: (number of rows, number of columns)
print("The shape of the dataset is", df.shape)

# Printing all column names in the dataset
# This helps me understand what variables or features are available in the dataset.
print("\nColumns:", df.columns)

# Displaying the first few rows of the dataset
# df.head() shows the top 5 rows by default — helps us to preview the data, it is Useful for checking if the data loaded correctly and how the columns look
print("\nOriginal Data Sample:")
print(df.head())

# Displaying basic informations about the dataset
# df.info() shows:
#   - Total number of entries (rows)
#   - Column names
#   - Non-null (non-missing) counts
#   - Data types (int, float, object, etc.)
# This helps in identifying missing values and incorrect data types early
print("\nBasic Information:")
print(df.info())

The shape of the dataset is (2240, 29)

Columns: Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

Original Data Sample:
     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  04-09-2012       58       635  ...                  7             0
1  08-03-2014       38        11  ...                  5             0
2  21-08-2013       26       426  ...                  4             0
3  10-02-2014       26        11  ...                  6             0
4  19-01-2014       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB
None

In [69]:
# Checking for missing values in the dataset
# .isnull() returns True for missing (NaN) values and False otherwise
# .sum() counts how many missing values each column has
print("\nMissing values in each column:")
print(df.isnull().sum())

# Creating a variable 'missing' to store the count of missing values per column
missing = df.isnull().sum()
# Print only those columns which actually have missing values
print("\nColumns with missing values:\n", missing[missing > 0])

# Handling Missing Values:
# The 'Income' column in this dataset has a few missing values.
# We can replace (fill) them with the median value of the column.
# Median is used instead of mean because it’s less affected by outliers.
if 'Income' in df.columns:
    df['Income'].fillna(df['Income'].median(), inplace=True)
    print("\nFilled missing 'Income' values with the median.")

Missing values in each column:
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

Columns with missing values:
 Income    24
dtype: int64

Filled missing 'Income' values with the median.

/tmp/ipython-input-4198828462.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income'].fillna(df['Income'].median(), inplace=True)

In [70]:
# Checking for duplicate rows in the dataset
# .duplicated() returns True for rows that are exact duplicates of previous rows
# .sum() counts how many duplicate rows are present
duplicates = df.duplicated().sum()
print("\nNumber of duplicate rows:", duplicates)

# If there are any duplicates, it removes them
# .drop_duplicates() removes all duplicate rows and keeps only the first occurrence
# inplace=True means the changes are directly applied to the DataFrame
if duplicates > 0:
    df.drop_duplicates(inplace=True)
    print("Duplicate rows removed.")
else:
    # If no duplicates are found, printing a confirmation message
    print("No duplicates found.")

Number of duplicate rows: 0
No duplicates found.

In [71]:
# Renaming columns for a cleaner and more consistent dataset
# This line performs multiple string operations on all column names:
# 1. str.strip() - removes any leading/trailing spaces.
# 2. str.lower() - converts all column names to lowercase for consistency.
# 3. str.replace(' ', '_') - replaces spaces with underscores (e.g., 'Year Birth' → 'year_birth').
# 4. str.replace(r'[^\w]', '_', regex=True) - replaces any special characters, like hyphens or symbols with underscores.
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^\w]', '_', regex=True)

# Printing the new, cleaned column names to verify the changes
print("\nCleaned Column Names:")
print(df.columns.tolist())

# Standardizing text values in categorical columns
# This step ensures consistency in how text data is written across the dataset.

# For example, if some entries in 'education' are 'phD', 'Phd', 'phd', etc.,
# converting them using .str.title() will make them all 'Phd'
if 'education' in df.columns:
    df['education'] = df['education'].str.strip().str.title()  # e.g., 'phd' → 'Phd'

# Similarly, making 'marital_status' values consistent.
# For example, 'single ', 'SINGLE', 'single' to 'Single'
if 'marital_status' in df.columns:
    df['marital_status'] = df['marital_status'].str.strip().str.title()

# Printing the unique (distinct) values in these columns to confirm standardization worked
print("\nUnique Education values:", df['education'].unique())
print("Unique Marital Status values:", df['marital_status'].unique())

Cleaned Column Names:
['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome', 'teenhome', 'dt_customer', 'recency', 'mntwines', 'mntfruits', 'mntmeatproducts', 'mntfishproducts', 'mntsweetproducts', 'mntgoldprods', 'numdealspurchases', 'numwebpurchases', 'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth', 'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5', 'acceptedcmp1', 'acceptedcmp2', 'complain', 'z_costcontact', 'z_revenue', 'response']

Unique Education values: ['Graduation' 'Phd' 'Master' 'Basic' '2N Cycle']
Unique Marital Status values: ['Single' 'Together' 'Married' 'Divorced' 'Widow' 'Alone' 'Absurd' 'Yolo']

In [72]:
# Converting date columns to datetime for a consistent format
# Checking if the column 'dt_customer' exists in the dataset before applying changes.
# This avoids errors if the column name is missing or different.
if 'dt_customer' in df.columns:

    # Converting the 'dt_customer' column to datetime format.
    # pd.to_datetime() automatically recognizes and converts string dates, like '19-01-2014' into real datetime objects.
    # - errors='coerce' - if a date is invalid or not recognized, it will be replaced with NaT (Not a Time) instead of causing an error.
    # - dayfirst=True - ensures that the date format is read as 'day-month-year', e.g., 19-01-2014 instead of 01-19-2014.
    df['dt_customer'] = pd.to_datetime(df['dt_customer'], errors='coerce', dayfirst=True)

    # Printing confirmation that the conversion was successful.
    print("\n'Dt_Customer' converted to datetime format.")

'Dt_Customer' converted to datetime format.

In [73]:
# Checking and fixing data types:

# Displaying the current data types of all columns before making any changes.
# This helps identify which columns are stored as incorrect types, e.g., numbers stored as float or object.
print("\nData types before fixing:")
print(df.dtypes)

# Defining a list of columns that should contain integer values.
# These are numeric columns that represent counts, years, or binary (0/1) flags.
# Sometimes these columns may be read as floats due to missing values or formatting, so I'll convert them back to integers.
int_columns = [
    'year_birth', 'kidhome', 'teenhome', 'recency',
    'numwebpurchases', 'numcatalogpurchases', 'numstorepurchases',
    'numwebvisitsmonth', 'acceptedcmp1', 'acceptedcmp2',
    'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5',
    'complain', 'response'
]

# Looping through each column in the list above
for col in int_columns:
    # Checking if the column exists in the DataFrame before converting it
    if col in df.columns:
        # Converting the column to integer data type using .astype(int)
        df[col] = df[col].astype(int)

# Displaying the data types again to confirm if the conversions worked correctly
print("\nData types after fixing:")
print(df.dtypes)

Data types before fixing:
id                              int64
year_birth                      int64
education                      object
marital_status                 object
income                        float64
kidhome                         int64
teenhome                        int64
dt_customer            datetime64[ns]
recency                         int64
mntwines                        int64
mntfruits                       int64
mntmeatproducts                 int64
mntfishproducts                 int64
mntsweetproducts                int64
mntgoldprods                    int64
numdealspurchases               int64
numwebpurchases                 int64
numcatalogpurchases             int64
numstorepurchases               int64
numwebvisitsmonth               int64
acceptedcmp3                    int64
acceptedcmp4                    int64
acceptedcmp5                    int64
acceptedcmp1                    int64
acceptedcmp2                    int64
complain                        int64
z_costcontact                   int64
z_revenue                       int64
response                        int64
dtype: object

Data types after fixing:
id                              int64
year_birth                      int64
education                      object
marital_status                 object
income                        float64
kidhome                         int64
teenhome                        int64
dt_customer            datetime64[ns]
recency                         int64
mntwines                        int64
mntfruits                       int64
mntmeatproducts                 int64
mntfishproducts                 int64
mntsweetproducts                int64
mntgoldprods                    int64
numdealspurchases               int64
numwebpurchases                 int64
numcatalogpurchases             int64
numstorepurchases               int64
numwebvisitsmonth               int64
acceptedcmp3                    int64
acceptedcmp4                    int64
acceptedcmp5                    int64
acceptedcmp1                    int64
acceptedcmp2                    int64
complain                        int64
z_costcontact                   int64
z_revenue                       int64
response                        int64
dtype: object

In [74]:
# Final Check — to verify that all data cleaning steps are complete and successful

# Printing a short summary title for clarity
print("\nFinal Dataset Summary:")

# Displaying the shape of the dataset - (number of rows, number of columns)
# This helps confirm no data was accidentally lost or duplicated during cleaning
print("Rows, Columns:", df.shape)

# Checking for any remaining missing values in the entire dataset
# .isnull().sum().sum() - counts all NaN values across every column
print("Missing Values:\n", df.isnull().sum().sum())

# Displaying the first few rows of the cleaned dataset
# This lets us visually confirm that all cleaning like renaming, formatting, fixing types worked correctly
print("\nFinal Data Preview:")
print(df.head())

Final Dataset Summary:
Rows, Columns: (2240, 29)
Missing Values:
 0

Final Data Preview:
     id  year_birth   education marital_status   income  kidhome  teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         Phd        Married  58293.0        1         0

  dt_customer  recency  mntwines  ...  numwebvisitsmonth  acceptedcmp3  \
0  2012-09-04       58       635  ...                  7             0
1  2014-03-08       38        11  ...                  5             0
2  2013-08-21       26       426  ...                  4             0
3  2014-02-10       26        11  ...                  6             0
4  2014-01-19       94       173  ...                  5             0

   acceptedcmp4  acceptedcmp5  acceptedcmp1  acceptedcmp2  complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   z_costcontact  z_revenue  response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]

In [75]:
# Saving the cleaned dataset

# Defining the file path (location) where I want to save the cleaned dataset.
# This path points to my Google Drive folder under the Task1 directory.
# The cleaned file will be saved with the name 'marketing_campaign_cleaned.csv'.
cleaned_data = '/content/drive/MyDrive/Elivate_Labs_DA_Internship_tasks/Task1/marketing_campaign_cleaned.csv'

# Saving the cleaned DataFrame to a new CSV file.
# index=False ensures that the DataFrame’s index column (0, 1, 2, …) is NOT added as an extra column in the CSV.
df.to_csv(cleaned_data, index=False)

# Printing a confirmation message showing that the file has been saved successfully and where it is stored.
print(f"\nCleaned dataset saved successfully to: {cleaned_data}")

Cleaned dataset saved successfully to: /content/drive/MyDrive/Elivate_Labs_DA_Internship_tasks/Task1/marketing_campaign_cleaned.csv